
.container {
  width: 150px;
  height: 150px;
  display: grid;
  overflow: hidden;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  padding: 15px;
  background: rgba(0, 0, 255, 0.2);
  border-radius: 50px;
}

.item {
  background: blue;
  border-radius: 100%;
}


circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke: #F0F;
  opacity: 0.2;
}

.progress .indicator {
  stroke: #F0F;
}

.progress {
  position: fixed;
  top: 60px;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}
