@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: "DegularMono-Thin";
    font-style: normal;

    font-display: swap;
    src: url(./fonts/ohno_degular/DegularMono-Regular.woff2) format("woff");
  }

  @font-face {
    font-family: "DegularMono-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/ohno_degular/DegularMono-Regular.woff2) format("woff");
  }

  @font-face {
    font-family: "DegularMono-Black";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(./fonts/ohno_obviously/Obviously-ExtendedMedium.woff) format("woff");
  }


  body {
     font-family: "DegularMono-Regular", serif;
  }

h1 {
     font-family: "DegularMono-Black", serif;

  }

p {
  @apply mb-6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold

}

h1 {
  @apply text-xl uppercase;
}

:root {
@apply transition-colors duration-1000
}

a {
@apply hover:text-accent hover:underline
}

media-rendition-menu-button {
    display: none;
}



 mux-player::part(bottom rendition button) {
    display: none;
  }

 mux-player::part(bottom playback-rate button) {
    display: none;
  }

mux-player {
/*
  --time-range: none;
  --fullscreen-button: none;
  --play-button: none;
  --rendition-selectmenu: none;
  --cast-button: none;
*/

  /* Hide all controls at once 
  --controls: none;
*/

  /* Hide the error dialog 
  --dialog: none;
*/
  /* Hide the loading indicator 
  --loading-indicator: none;
*/
  /* Target all sections by excluding the section prefix */
  --time-display: none;
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --mute-button: none;
  --captions-button: none;
  --airplay-button: none;
  --pip-button: none;


  --playback-rate-button: none;
  --volume-range: none;

  --duration-display: none;



  /* Target a specific section by prefixing the CSS var with (top|center|bottom) 
  --center-controls: none;
  --bottom-play-button: none;
*/
}
